extends layout

block content
  div.justify-content-center.mt-3
    div.container
      div.card
        div.card-header.text-center
          h2.m-2 Home
        div.card-body(style="font-size:20px; color:black;")
          div.ms-4.mb-4
            a(href=process.env.APP_URL + '/game' style="color:black;")
              h3 Play              

          div.ms-4.mb-4
            a(href=process.env.APP_URL + '/profile' style="color:black;")
              h3 Profile

          div.ms-4.mb-4
            a(href=process.env.APP_URL + '/leaderboard' style="color:black;")
              h3 Leaderboard