input {
  text-align: center;
  width: 60px;
  height: 60px;
}

.input{
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.cur-input:hover {
  cursor: text;
}

.filler {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

i {
  font-size: 24px;
}

.key {
  width: 36px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 26px;
  margin: 3px;
  padding: 0px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.key-spacer {
  width: 14px;
  height: 47px;
  margin: 3px;
  padding: 0px;
}

@media (hover: hover) {
  .key:hover {
      background-color: rgb(221, 221, 221);
      cursor: pointer;
  }
}

.focus {
  border: 3px solid black;
}

.space {
  width: 260px;
}

.text {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
}

.spacer {
  height: 120px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}


.answer {
  font-size: 24px;
}

/* Keep these at the end so they are applied after button color */
.success {
  background-color: #bfe470;
}

.warning {
  background-color: #ffff82;
}

.danger {
  background-color: #ff0101ab;
}
