a {
  color: #00B7FF;
}

input {
  text-align: center;
  width: 60px;
  height: 60px;
}

.input{
  text-align: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.cur-input:hover {
  cursor: text;
}

.success {
  background-color: #bfe470;
}

.warning {
  background-color: #ffff82;
}

.danger {
  background-color: #ff0101ab;
}

.filler {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

.key {
  width: 40px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 26px;
  margin: 4px;
  padding: 0px;
  background-color: white;
}

.focus {
  border: 3px solid black;
}

.key:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.space {
  width: 200px;
}

.text {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
}

.spacer {
  height: 120px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}


.answer {
  font-size: 24px;
}